{% extends 'catasto/base.html' %}

{% block title %}Dettagli Subalterno{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1>Dettagli Subalterno</h1>
        <div>
            <a href="{% url 'catasto:subalterno-update' object.id %}" class="btn btn-warning">Modifica</a>
            <a href="{% url 'catasto:subalterno-delete' object.id %}" class="btn btn-danger">Elimina</a>
            <a href="{% url 'catasto:subalterno-list' %}" class="btn btn-secondary">Torna alla lista</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Fascicolo</dt>
            <dd class="col-sm-9">
                <a href="{% url 'catasto:fascicolo-detail' object.fascicolo.id %}">{{ object.fascicolo }}</a>
            </dd>
            
            <dt class="col-sm-3">Sub</dt>
            <dd class="col-sm-9">{{ object.sub }}</dd>
            
            <dt class="col-sm-3">Note</dt>
            <dd class="col-sm-9">{{ object.note|default:"--" }}</dd>
        </dl>
        
        <h3 class="mt-4">Pratiche</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Note</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pratica in object.pratiche.all %}
                    <tr>
                        <td>{{ pratica.id }}</td>
                        <td>{{ pratica.note|default:"--" }}</td>
                        <td>
                            <a href="{% url 'catasto:pratica-detail' pratica.id %}" class="btn btn-sm btn-info">Dettagli</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Nessuna pratica associata.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h3 class="mt-4">Documenti</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Numero</th>
                        <th>Data</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in object.documenti.all %}
                    <tr>
                        <td>{{ documento.tipo }}</td>
                        <td>{{ documento.numero|default:"--" }}</td>
                        <td>{{ documento.data|default:"--" }}</td>
                        <td>
                            <a href="{% url 'catasto:documento-detail' documento.id %}" class="btn btn-sm btn-info">Dettagli</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nessun documento associato.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}